/* 
body
{
font-family:"segoe ui light" ;

}

.col-md-4 , h1
{
    display: none;
}

 */

/*  ----------------------------------------------

/* 
 .d-flex img 
 {
    cursor: pointer;
 } */
/*



/* ---------------------------------------------------- */
 /* h1
 {
     cursor: pointer;
 }
p{
    display: none;
}
 */ 
















 